* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* body {
  cursor: none;
} */

/* #box{
  height: 200px;
  width: 200px;
  background-color: aqua;
} */

/* img{
  height: 200px;
  width: 200px;
} */

/* #main {
  height: 100%;
  width: 100%;
  background-color: rgb(11, 6, 8);
}

#cursor {
  height: 50px;
  width: 50px;
  position: fixed;
  background-color: transparent;
  transform: translate(-50%, -50%);
} */


/* day 49 */



/* day 50 */


