* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#parent {
  height: 100%;
  width: 100%;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#box1 {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
}

#box2 {
  height: 200px;
  width: 200px;
  background-color: rgb(51, 48, 145);
}

#box3 {
  height: 200px;
  width: 200px;
  background-color: rgb(199, 15, 61);
}
